<div class="container">
  <div class="price">
    <h3>Prix</h3>
    <div class="values" [ngClass]="{ hidden: isNan(this.max) }">
      <span id="range1"> {{ min }} $ </span>
      <span id="range2"> {{ max }} $ </span>
    </div>
    <div class="container-range" [ngClass]="{ hidden: isNan(this.max) }">
      <div class="slider-track"></div>
      <input
        type="range"
        [min]="min"
        [max]="max"
        [value]="min"
        id="slider-1"
        (input)="slideOne()"
        (mouseup)="update()"
        (touchend)="update()"
      />
      <input
        type="range"
        [min]="min"
        [max]="max"
        [value]="max"
        id="slider-2"
        (input)="slideTwo()"
        (mouseup)="update()"
        (touchend)="update()"
      />
    </div>
  </div>
  <div *ngFor="let element of this.keys">
    <div *ngIf="element !== 'price'">
      <hr />
      <h3>{{ element }}</h3>

      <form>
        <div
          *ngFor="let option of this.productFilters.get(element)"
          class="form-group"
          (click)="toggleFilter(element, option, $event)"
        >
          <input type="checkbox" [id]="option" />
          <label [for]="option">{{ option }}</label>
        </div>
      </form>
    </div>
  </div>
</div>
